.header {
  position: relative;
  min-height: 280px;
  color: #f65261;
  background-color: #424242;
  z-index: 900;
}

.details_header {
  position: relative;
  color: #f65261;
  background-color: #424242;
  z-index: 900;
}

.background {
  position: absolute;
  top: 0;
  bottom: 10px;
  right: 0;
  left: 0;
  background-image: url('./../../src/assets/background.jpg');
  filter: blur(5px);
}

.darken_background {
  background-blend-mode: darken;
  background: rgba(0, 0, 0, 0.8) url('./../../src/assets/background.jpg');
}

.logo_text {
  font-weight: normal;
}

.add_movie {
  padding: 15px;
}

.icon::before {
  color: #f65261;
  font-size: 20px;
}
