.edit_container {
  position: absolute;
  right: 0;
  width: 150px;
  top: 0;
  border-radius: 5px;
  background-color: #232323;
  z-index: 1010;
}

.edit_option {
  cursor: pointer;
  color: #fff;
  text-transform: uppercase;
}

.edit_option:hover {
  background-color: #f65261;
}

.dropdown_button {
  position: relative;
  color: white;
  text-transform: uppercase;
}

.dropdown_button:hover {
  color: wheat;
}
