.input {
  background-color: #232323;
  color: #555;
  outline: none;
  height: 100%;
  border-width: 0;
}

.input:focus {
  background-color: #232323;
  color: #555;
  outline: none;
  height: 100%;
  border-width: 0;
}
