.main {
  background-color: #424242;
  flex: 1;
  color: #fff;
}

.movies_sort {
  border-bottom: 2px;
  color: #fff;
  border-bottom: 2px solid #555;
}

.sort_row {
}

.genre {
  position: relative;
  text-transform: uppercase;
  cursor: pointer;
}

.genre_selected {
  position: absolute;
  bottom: -18px;
  width: 100%;
  border-bottom: 2px solid #f65261;
}

.dropdown_button {
  color: white;
  text-transform: uppercase;
}
